{
  "name": ".nanorc",
  "path": "dotfiles/.nanorc",
  "sha": "1e8e31a7c8483c040027632d94aa3a029e48b51c",
  "size": 159,
  "url": "https://api.github.com/repos/antti004/Linux/contents/dotfiles/.nanorc?ref=main",
  "html_url": "https://github.com/antti004/Linux/blob/main/dotfiles/.nanorc",
  "git_url": "https://api.github.com/repos/antti004/Linux/git/blobs/1e8e31a7c8483c040027632d94aa3a029e48b51c",
  "download_url": "https://raw.githubusercontent.com/antti004/Linux/main/dotfiles/.nanorc",
  "type": "file",
  "content": "c2V0IHNwZWxsZXIgImFzcGVsbCAtYyAteCIKc2V0IGF1dG9pbmRlbnQKc2V0\nIG5vaGVscAojc2V0IG1vcmVzcGFjZQpzZXQgbGluZW51bWJlcnMKc2V0IGNv\nbnN0YW50c2hvdwpzZXQgcG9zaXRpb25sb2cKc2V0IG1vdXNlCgpzZXQgdGFi\nc2l6ZSA0CnNldCB0YWJzdG9zcGFjZXMK\n",
  "encoding": "base64",
  "_links": {
    "self": "https://api.github.com/repos/antti004/Linux/contents/dotfiles/.nanorc?ref=main",
    "git": "https://api.github.com/repos/antti004/Linux/git/blobs/1e8e31a7c8483c040027632d94aa3a029e48b51c",
    "html": "https://github.com/antti004/Linux/blob/main/dotfiles/.nanorc"
  }
}
